@tailwind components;

@layer components {
  .sidebar {
    --sidebar-grow: 1;
    --min-width: 20rem;
    @apply hidden xl:block shrink-0 max-h-full overflow-hidden flex-grow-[--sidebar-grow] overflow-y-auto min-w-[--min-width] p-4;
  }

  .mainContent {
    --main-content-grow: 999;
    @apply basis-0 flex shrink-0 justify-center max-h-full flex-grow-[--main-content-grow] min-w-[40%] overflow-y-auto bg-slate-200;
  }
}
